* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    background: #fff;
    color: #666;
    font: 1.75em Helvetica, sans-serif;
    line-height: 1.75;
}

main {
    padding: 0 10% 2em 10%;
    display: block;
}

/**
 * Code display.
 */

code a,
code a:hover {
    color: inherit;
    cursor: help;
    text-decoration: none;
}

pre, code {
    color: #9da8ab;
    font-family: Inconsolata, "Courier New", Consolas, Courier, monospace;
    font-size: 1em;
}

pre {
    background: #daeffa;
    padding: 1em;
    border: 1px solid #d0e8f0;
    border-radius: 0.25em;
    overflow: auto;
    box-sizing: border-box;
}

pre code {
    background: transparent;
}

pre .badge {
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    background: #ccc;
}

/**
 * Syntax highlight.
 */

pre .comment {
    color: #998;
}

pre .support {
    color: #0086B3;
}

pre .tag, pre .tag-name {
    color: navy;
}

pre .keyword, pre .css-property, pre .vendor-prefix, pre .sass, pre .class, pre .id, pre .css-value, pre .entity.function, pre .storage.function {
    font-weight: bold;
}

pre .css-property, pre .css-value, pre .vendor-prefix, pre .support.namespace {
    color: #333;
}

pre .constant.numeric, pre .keyword.unit, pre .hex-color {
    font-weight: normal;
    color: #099;
}

pre .entity.class {
    color: #458;
}

pre .entity.id, pre .entity.function {
    color: #900;
}

pre .attribute, pre .variable {
    color: teal;
}

pre .string, pre .support.value  {
    font-weight: normal;
    color: #d14;
}

pre .regexp {
    color: #009926;
}

/**
 * Definition lists.
 */

dl {
    border: 1px solid #ddd;
    border-radius: 0.25em;
}

dt {
    border-top: 1px solid #ddd;
    padding: 1em 2em 0 2em;
    font-weight: bold;
}

dd {
    padding: 0 2em 1em 2em;
}

dd pre {
    margin: 0.5em -2em -1em -2em;
    border-radius: 0;
    padding: 0.5em 2em;
    background: transparent;
    border: 0;
    border-top: 1px dotted #ddd;
}

dd pre > code {
    margin: 0 0 0 0.5em;
}

dl > dt:first-child {
    border-top: 0;
}

/**
 * Element signature.
 */

.signature {
    border-radius: 0.25em 0.25em 0 0;
}

.returns {
    margin: 0;
    border: 1px solid #ddd;
    border-top: 0;
    line-height: 1;
    border-radius: 0 0 0.25em 0.25em;
    color: #9da8ab;
    overflow: hidden;
    padding: 1em;
}

.returns b {
    line-height: 1.85;
}

.returns i, .returns b {
    float: left;
    margin: 0 0.3em 0 0;
}

.returns span {
    float: left;
    margin: -0.4em 0 -0.4em 0.3em;
    border-left: 1px solid #ddd;
    padding: 0.4em;
}

/**
 * Clearfix.
 */

.clearfix:after, dl:after
{
    content: " ";
    clear: both;
    display: table;
}

/**
 * Links
 */

a {
    color: #37bddb;
}

a:hover {
    color: #1d97b3;
}

a:focus {
    color: #000;
}

/**
 * Inline.
 */

strong, b {
    font-weight: bold;
}

small {
    font-size: 0.8em;
}

/**
 * Typo.
 */

p, h1, h2, h3, h4, h5, h6, pre, blockquote, table, dl {
    margin: 2em 0 0 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: 2.4em;
}

h2 {
    font-size: 2em;
    border-bottom: 1px solid #ddd;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1.1em;
}

img {
    border-radius: 0.25em;
    padding: 0.6em;
    border: 1px solid #ddd;
    box-shadow: 0 0.2em 0.3em rgba(0, 0, 0, 0.05);
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

/**
 * Header.
 */

header {
    text-align: center;
    padding: 3em 10%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

header h1 {
    margin: 0;
    line-height: 1;
    font: 4em "Oleo Script Swash Caps";
}

header h1 a,
header h1 a:hover {
    color: inherit;
    text-decoration: none;
}

header .slogan {
    margin: 0 0 1em 0;
    color: #9da8ab;
}

header .social {
    margin: 0;
}

header .social a {
    padding: 0.1em 0.6em;
    font-size: 0.5em;
}

/**
 * Navigation.
 */

nav {
    display: block;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: inherit;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5em;
}


/**
 * Buttons.
 */

.button {
    background: #37BDDB;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0.3em;
    display: inline-block;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5), inset 0 2px 0 rgba(255, 255, 255, 0.3);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.button:hover,
.button:focus {
    color: #fff;
    background: #000;
}

.light {
    background: #fff;
    color: inherit;
    border: 1px solid #ddd;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

/**
 * Download bar.
 */

.download {
    background: #daeffa;
    color: #fff;
    margin: 0;
    border-radius: 0.3em;
    display: inline-block;
}

.download code {
    padding: 0 1em;
    display: inline-block;
    line-height: 1;
    background: transparent;
}

.download .button {
    margin: 0;
    border-radius: 0 0.3em 0.3em 0;
}

.download-notes {
    font-size: 0.65em;
    margin: 1em;
    color: #9da8ab;
}

.download-notes a {
    color: inherit;
}

/**
 * Download preparer.
 */

#download-widget h1 {
    font-size: 2em;
    border-bottom: 1px solid #ddd;
    margin: 0 0 0.5em 0;
}

#download-widget p {
    margin: 0;
    font-size: 0.8em;
}

#download-widget .back {
    margin: 2em 0 1em 0;
}

/**
 * Badges.
 */

.badge {
    padding: 0 0.5em;
    font-size: 0.6em;
    background: #9da8ab;
    color: #fff;
    border-radius: 0.3em;
    display: inline-block;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

/**
 * Author.
 */

.author {
    border-top: 1em solid #d0e8f0;
    text-align: center;
    margin: 5em 0 0 0;
    padding: 2em 0 0 0;
    font-size: 0.8em;
    position: relative;
}

.author .face {
    height: 135px;
    background: url("http://uproar-n-rattle.biz/img/avatar.png") no-repeat 50% 50%;
    position: absolute;
    top: -4em;
    left: 0;
    right: 0;
}

.profile-links a {
    text-decoration: none;
    color: #9da8ab;
    font-size: 1.8em;
}

.profile-links a:hover,
.profile-links a:focus {
    color: #000;
}

.author p {
    margin: 0;
}

/**
 * jQuery.thar.
 */

.jquery-thar-anchor {
    position: absolute;
    margin: 0 0 0 -1.2em;
    width: 1em;
    padding: 0 0.2em 0 0;
    text-align: right;
    transition: opacity 0.5s;
    opacity: 0;
    text-decoration: none;
    color: #ddd;
}

.jquery-thar:hover .jquery-thar-anchor,
.jquery-thar-anchor:hover,
.jquery-thar-anchor:focus {
    opacity: 1;
}