* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    background: #fff;
    color: #666;
    font: 1.75em Helvetica, Arial, sans-serif;
    line-height: 1.714; /* 28/48 */
}

main, footer {
    padding: 0 10% 2em 10%;
    display: block;
}

/**
 * Code display.
 */

code a,
code a:hover {
    color: inherit;
    cursor: help;
    text-decoration: none;
}

pre, code {
    color: #9da8ab;
    font-family: Inconsolata, "Courier New", Consolas, Courier, monospace;
    font-size: 1em;
}

pre {
    background: #daeffa;
    padding: 1em;
    border: 1px solid #d0e8f0;
    border-radius: 0.25em;
    overflow: auto;
    box-sizing: border-box;
}

pre code {
    background: transparent;
}

pre .badge {
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    background: #ccc;
}

/**
 * Syntax highlight.
 */

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #998;
}

.support {
    color: #0086b3;
}

.token.punctuation {
    color: #9da8ab;
}

.token.namespace {
    color: #333;
}

.token.function {
    color: #900;
}

.token.class {
    color: #458;
}

.token.property {
    font-weight: bold;
}

.token.boolean,
.token.number {
    font-weight: normal;
    color: #099;
}

.token.tag {
    color: navy;
}

.token.attr-name {
    color: teal;
}

.token.atrule,
.token.attr-value,
.token.selector,
.token.string {
    font-weight: normal;
    color: #d14;
}

.token.operator,
.token.entity,
.token.url {
    color: #a67f59;
}

.token.keyword {
    font-weight: bold;
}

.token.regex,
.token.important {
    color: #009926;
}

.token.important {
    font-weight: bold;
}

.token.entity {
    cursor: help;
}

/**
 * Definition lists.
 */

dl {
    border: 1px solid #ddd;
    border-radius: 0.25em;
}

dt {
    border-top: 1px solid #ddd;
    padding: 1em 2em 0 2em;
    font-weight: bold;
}

dd {
    padding: 0 2em 1em 2em;
}

dd pre {
    margin: 0.5em -2em -1em -2em;
    border-radius: 0;
    padding: 0.5em 2em;
    background: transparent;
    border: 0;
    border-top: 1px dotted #ddd;
}

dd pre > code {
    margin: 0 0 0 0.5em;
}

dl > dt:first-child {
    border-top: 0;
}

/**
 * Element signature.
 */

.signature {
    border-radius: 0.25em 0.25em 0 0;
}

.returns {
    margin: 0;
    border: 1px solid #ddd;
    border-top: 0;
    line-height: 1;
    border-radius: 0 0 0.25em 0.25em;
    color: #9da8ab;
    overflow: hidden;
    padding: 1em;
}

.returns b {
    line-height: 1.85;
}

.returns i, .returns b {
    float: left;
    margin: 0 0.3em 0 0;
}

.returns span {
    float: left;
    margin: -0.4em 0 -0.4em 0.3em;
    border-left: 1px solid #ddd;
    padding: 0.4em;
}

/**
 * Clearfix.
 */

.clearfix:after, dl:after
{
    content: " ";
    clear: both;
    display: table;
}

/**
 * Links
 */

a {
    color: #37bddb;
    transition: color 0.5s;
}

a:hover {
    color: #1d97b3;
}

a:focus {
    color: #000;
}

/**
 * Inline.
 */

strong, b {
    font-weight: bold;
}

small {
    font-size: 0.75em;
}

/**
 * Typo.
 */

p, h1, h2, h3, h4, h5, h6, pre, blockquote, table, dl {
    margin: 2em 0 0 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: 2.4em;
}

h2 {
    font-size: 2em;
    border-bottom: 1px solid #ddd;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1.1em;
}

img {
    border-radius: 0.25em;
    padding: 0.6em;
    border: 1px solid #ddd;
    box-shadow: 0 0.2em 0.3em rgba(0, 0, 0, 0.05);
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

/**
 * Header.
 */

header {
    text-align: center;
    padding: 3em 10%;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), 0 0 1px rgba(0, 0, 0, 0.3), 0 3px 3px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    line-height: 1;
    font: 4em "Oleo Script Swash Caps";
}

header h1 a,
header h1 a:hover {
    color: inherit;
    text-decoration: none;
}

header .slogan {
    margin: 0 0 1em 0;
    color: #9da8ab;
}

header .social {
    margin: 0;
}

header .social a {
    padding: 0.1em 0.6em;
    font-size: 0.5em;
}

/**
 * Navigation.
 */

nav {
    display: block;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    line-height: 1;
    
}

nav a {
    text-decoration: none;
    color: inherit;
    font-size: 0.857em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 0.5em;
    line-height: 2.750;
}

/**
 * Footer.
 */

footer {
    border-top: 1px solid #ddd;
    
}

footer .copy {
    color: #9da8ab;
    font-size: 0.857em;
    border-top: 1px solid #ddd;
    padding: 2em 0 0 0;
}

/**
 * Buttons.
 */

.button {
    background: #37BDDB;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0.3em;
    display: inline-block;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5), inset 0 2px 0 rgba(255, 255, 255, 0.3);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
}

.light {
    background: #fff;
    color: inherit;
    border: 1px solid #ddd;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.button[href*="gittip.com"] {
    background: #a4db37;
    color: #fff;
    border: 0;
    border: 1px solid #97c932;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.button:hover,
.button:focus {
    color: #fff;
    background: #000;
    border-color: #000;
}

/**
 * Download bar.
 */

.download {
    background: #daeffa;
    color: #fff;
    margin: 0;
    border-radius: 0.3em;
    display: inline-block;
}

.download code {
    padding: 0 1em;
    display: inline-block;
    line-height: 1;
    background: transparent;
}

.download .button {
    margin: 0;
    border-radius: 0 0.3em 0.3em 0;
}

.download-notes {
    font-size: 0.65em;
    margin: 1em;
    color: #9da8ab;
}

.download-notes a {
    color: inherit;
}

/**
 * Download preparer.
 */

#download-widget h1 {
    font-size: 2em;
    border-bottom: 1px solid #ddd;
    margin: 0 0 0.5em 0;
}

#download-widget p {
    margin: 0;
    font-size: 0.857em;
}

#download-widget .back {
    margin: 2em 0 1em 0;
}

/**
 * Badges.
 */

.badge {
    padding: 0 0.5em;
    font-size: 0.6em;
    background: #9da8ab;
    color: #fff;
    border-radius: 0.3em;
    display: inline-block;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

/**
 * Author.
 */

.author {
    border-top: 1em solid #d0e8f0;
    text-align: center;
    margin: 5em 0 0 0;
    padding: 2em 0 0 0;
    font-size: 0.857em;
    position: relative;
}

.author .face {
    height: 135px;
    background: url("http://uproar-n-rattle.biz/img/avatar.png") no-repeat 50% 50%;
    position: absolute;
    top: -4em;
    left: 0;
    right: 0;
}

.profile-links a {
    text-decoration: none;
    color: #9da8ab;
    font-size: 1.8em;
}

.profile-links a:hover,
.profile-links a:focus {
    color: #000;
}

.author p {
    margin: 0;
}

/**
 * jQuery.thar.
 */

.jquery-thar-anchor {
    position: absolute;
    margin: 0 0 0 -1.2em;
    width: 1em;
    padding: 0 0.2em 0 0;
    text-align: right;
    transition: opacity 0.5s;
    opacity: 0;
    text-decoration: none;
    color: #ddd;
}

.jquery-thar:hover .jquery-thar-anchor,
.jquery-thar-anchor:hover,
.jquery-thar-anchor:focus {
    opacity: 1;
}

/**
 * Tooltips.
 */

.tooltipster-default {
    border-radius: 0.25em;
	background: #fff;
    color: #999;
    font-size: 0.5em;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 0.5em 0.8em rgba(0, 0, 0, 0.1);
}

.tooltipster-default .tooltipster-content {
    padding: 0.25em 0.6em;
    font-size: 1em;
    overflow: hidden;
}

.tooltipster-base {
    position: absolute;
    z-index: 9999999;
    pointer-events: none;
    width: auto;
    overflow: visible;
}

.tooltipster-base .tooltipster-content {
	overflow: hidden;
}

.tooltipster-arrow {
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.tooltipster-arrow span, .tooltipster-arrow-border {
    display: block;
    width: 0; 
    height: 0;
    position: absolute;
}

.tooltipster-arrow-top span, .tooltipster-arrow-top-right span, .tooltipster-arrow-top-left span {
    border-left: 8px solid transparent !important;
    border-right: 8px solid transparent !important;
    border-top: 8px solid;
    bottom: -8px;
}

.tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-top-left .tooltipster-arrow-border {
    border-left: 9px solid transparent !important;
    border-right: 9px solid transparent !important;
    border-top: 9px solid;
    bottom: -8px;
}

.tooltipster-arrow-bottom span, .tooltipster-arrow-bottom-right span, .tooltipster-arrow-bottom-left span {
    border-left: 8px solid transparent !important;
    border-right: 8px solid transparent !important;
    border-bottom: 8px solid;
    top: -8px;
}

.tooltipster-arrow-bottom .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {
    border-left: 9px solid transparent !important;
    border-right: 9px solid transparent !important;
    border-bottom: 9px solid;
    top: -8px;
}

.tooltipster-arrow-top span, .tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-bottom span, .tooltipster-arrow-bottom .tooltipster-arrow-border {
    left: 0;
    right: 0;
    margin: 0 auto;
}

.tooltipster-arrow-top-left span, .tooltipster-arrow-bottom-left span {
    left: 6px;
}

.tooltipster-arrow-top-left .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {
    left: 5px;
}

.tooltipster-arrow-top-right span,  .tooltipster-arrow-bottom-right span {
    right: 6px;
}

.tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border {
    right: 5px;
}

.tooltipster-arrow-left span, .tooltipster-arrow-left .tooltipster-arrow-border {
    border-top: 8px solid transparent !important;
    border-bottom: 8px solid transparent !important; 
    border-left: 8px solid;
    top: 50%;
    margin-top: -7px;
    right: -8px;
}

.tooltipster-arrow-left .tooltipster-arrow-border {
    border-top: 9px solid transparent !important;
    border-bottom: 9px solid transparent !important; 
    border-left: 9px solid;
    margin-top: -8px;
}

.tooltipster-arrow-right span, .tooltipster-arrow-right .tooltipster-arrow-border {
    border-top: 8px solid transparent !important;
    border-bottom: 8px solid transparent !important; 
    border-right: 8px solid;
    top: 50%;
    margin-top: -7px;
    left: -8px;
}

.tooltipster-arrow-right .tooltipster-arrow-border {
    border-top: 9px solid transparent !important;
    border-bottom: 9px solid transparent !important; 
    border-right: 9px solid;
    margin-top: -8px;
}

.tooltipster-fade {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    -ms-transition-property: opacity;
    transition-property: opacity;
}
.tooltipster-fade-show {
    opacity: 1;
}